<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.demo.mybatis.dao.TestMapper">

    <resultMap id="person" type="com.demo.mybatis.domain.Person">
        <id column="id" property="id"></id>
        <result column="name" property="name"/>
        <result column="age" property="age"/>
        <result column="birth" property="birth"/>
    </resultMap>


    <select id="getPersonById" resultMap="person">
        select * from person where id =#{id}
    </select>
</mapper>